.explore-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.explore-content .map-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
