.app-header-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

.header-title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

@media (min-width: 768px) {
  .header-title {
    font-size: 1.25rem;
  }
}
