.profile-selector {
  margin: 8px 16px;
  width: calc(100% - 32px);
}

.profile-selector ion-segment-button {
  --indicator-color: var(--ion-color-primary);
  flex: 1;
  min-width: 0;
}

.profile-selector ion-segment-button ion-icon {
  font-size: 20px;
}
